<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Product List</h1>
     <a href="{{ url_for('routes.add_product') }}">Add Product</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Author</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Status</th>
        <th>Category</th>
        <th>Avarage rating</th>
        <th>Sale</th>
    </tr>
    {% for product in products %}
    <tr>
        <th>{{product.id}}</th>
        <th>{{product.name}}</th>
        <th>{{product.author}}</th>
        <th>{{product.description}}</th>
        <th>{{product.price}}</th>
        <th>{{product.quantity}}</th>
        <th>{{product.created_at}}</th>
        <th>{{product.updated_at}}</th>
        <th>{{product.status}}</th>
        <th>{{product.category}}</th>
        <th>{{product.rating}}</th>
        <th>{{product.sale}}</th>
    </tr>
    {% endfor %}
</table>
</body>
</html>